{% extends "base.html" %}

{% block content %}
    <h1 class="py-5 text-center">Reset Password</h1>
    <div class="text-center">
        <form method="POST" action="/reset">
            <input class="form-control offset-md-4 col-md-4 mb-2" type="text" name="token" placeholder="Token" autofocus="">
            <input class="form-control offset-md-4 col-md-4 mb-2" type="email" name="email" placeholder="Email" autofocus="">
            <input class="form-control offset-md-4 col-md-4 mb-2" type="password" name="password" placeholder="Password">

            <div class="row"><button class="btn btn-primary offset-md-7 col-md-1 mt-4">Reset</button></div>
        </form>
    </div>
</div>
{% endblock %}